<div class="p-3" align="center">
    <div class="card p-3">
        <div class="row">
            <div class="col-md-12">
                <label style="font-size:xx-large;color: grey;"><b>Profile</b></label>
            </div>
            <div class="col-md-12 mb-2">
                <div>
                    <div class="mrg5-r" style="text-align: center;">
                        <div style="position:relative;width:fit-content;display:inline-block;">
                            <img id="showPic" src="{{srcProfile}}" class="rounded-circle pic-fix">
                            <div style="z-index:2;position:absolute;bottom:0px;right:0px;">
                                <i class="fa fa-camera" style="color:gray;cursor: pointer;" (click)="chootFile()" [hidden]="!flagEdit"></i>
                                <input id="upPicPro" name="upPicPro" class="picPro" type="file" accept="image/gif, image/jpeg, image/png" (change)="changeProfile($event)" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                {{userName}} <i class="fa fa-cog" title="Edit Profile" style="cursor: pointer;" (click)="openEditFrofile()" [hidden]="flagEdit"></i><br>
                <a href="javascript:void(0);" style="font-size: small;" [hidden]="!flagEdit" (click)="flagEditPass()">Change Password</a>
                <div id="reNewPass" class="card p-2" [hidden]="!flagEditPasst">
                    <div class="row">
                        <div class="col-md-12">
                            <div align="right">
                                <div class="p-1 closser" style="width: 30px;text-align: center;cursor: pointer;" (click)="cancelEditPass()">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class=" input-group my-2 ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text wd200 ">New Password : </span>
                                </div>
                                <input type="{{psType0}} " class="form-control {{bCol0}} " (focusout)="checkOldPassword($any($event.target).value) ">
                                <div class="input-group-append ">
                                    <button class="input-group-text " (click)="showPass0() "><i class="fa {{eye0}} "></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-2 ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text wd200 ">New Password : </span>
                                </div>
                                <input type="{{psType1}}" class="form-control {{bCol1}} " (focusout)="checkPassword($any($event.target).value) ">
                                <div class="input-group-append ">
                                    <button class="input-group-text " (click)="showPass1() "><i class="fa {{eye1}} "></i></button>
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text wd200">Re-New Password : <i class="fa fa-times" style="color: red;" [hidden]="checkRePass "></i> </span>
                                </div>
                                <input type="{{psType2}}" class="form-control {{bCol2}}" (focusout)="checkRePassword($any($event.target).value)">
                                <div class="input-group-append">
                                    <button class="input-group-text" (click)="showPass2()"><i class="fa {{eye2}}"></i></button>
                                </div>
                            </div>
                            <div>
                                <span style="color: red;font-size: 9pt;" [hidden]="checkRePass">Password ไม่ตรงกัน</span>
                            </div>
                        </div>
                        <!-- (click)="cancelEditPass() " -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 ">
                <table style="width: 400px; max-width: 100%; ">
                    <tr>
                        <td style="text-align: right;width: 50%; ">
                            Firstname :
                        </td>
                        <td>
                            <input class="{{inputControl}} " value="{{fName}}" (input)="toUpperF($any($event.target).value) " [readonly]="!switchInput ">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 50%; ">
                            Lastname :
                        </td>
                        <td>
                            <input class="{{inputControl}} " value="{{lName}}" (input)="toUpperL($any($event.target).value) " [readonly]="!switchInput ">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 " [hidden]="!flagEdit ">
                <div class="row ">

                    <div class="col-md-6 ">
                        <button class="btn btn-success form-control mt-2 "><i class="fa fa-floppy-o"></i> Save </button>
                    </div>
                    <div class="col-md-6 ">
                        <button class="btn btn-warning form-control mt-2 " (click)="cancelEditFrofile() "><i class="fa fa-ban"></i> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
